## .gitignore file to use with MPLAB X and Emacs

#Microchip MPLAB X Files to Ignore
*/build/*
*/nbproject/Makefile*
*/nbproject/Package*
*/nbproject/private/*
*/disassembly/*
*/dist/default/debug/*
*.production.cof
*.production.map
*.production.elf
*.hex

# ignore all assembled libraries except those stored in the library directory
*.a
!/lib/*

# codewright
*.bak

# Emacs Files to Ignore
*~
*#
*.old

